@page
@model program.Pages.Admin.EditModel
@{
	ViewData["title"] = "ویرایش";
}
<h1>ویرایش کالا</h1>

<form method="post" enctype="multipart/form-data">
	<input type="hidden" asp-for="Product.Id" />
	<div class="form-group">
		<label asp-for="Product.Name"></label>
		<input asp-for="Product.Name" class="form-control" />
		<span class="text-danger" asp-validation-for="Product.Name"></span>
	</div>
	<div class="form-group">
		<label asp-for="Product.Description"></label>
		<textarea asp-for="Product.Description" class="form-control"></textarea>
		<span class="text-danger" asp-validation-for="Product.Description"></span>
	</div>
	<div class="form-group">
		<label asp-for="Product.Price"></label>
		<input asp-for="Product.Price" class="form-control" />
		<span class="text-danger" asp-validation-for="Product.Price"></span>
	</div>
	<div class="form-group">
		<label asp-for="Product.QuantityInStock"></label>
		<input asp-for="Product.QuantityInStock" class="form-control" />
		<span class="text-danger" asp-validation-for="Product.QuantityInStock"></span>
	</div>
	<div class="form-group">
		<label asp-for="Product.Picture"></label>
		<input asp-for="Product.Picture" class="form-control" />
		<span class="text-danger" asp-validation-for="Product.Picture"></span>
	</div>
	<div class="form-group">
		<label>دسته بندی</label>
		@foreach (var item in Model.Product.Categories)
		{
			<p>
				<input type="checkbox" name="selectedGroup" value="@item.Id" @((
					Model.GroupsProduct.Any(c=>c==item.Id) ? "checked" : ""
				)) />
				@item.Name
			</p>
		}
	</div>
	<div class="form-group">
		<input type="submit" value="ثبت ویرایش" class="btn btn-outline-success" />
	</div>
</form>